
.body {
    font-family: 'Roboto', sans-serif;
}

.webstudio {
    font-family: 'Raleway';
        font-style: normal;
        font-weight: 800;
        font-size: 18px;
        line-height: 1.33;

        letter-spacing: 0.03em;

        color: #2E2F42;
}

.webstudio_footer {
        font-family: 'Raleway';
            font-style: normal;
            font-weight: 800;
            font-size: 18px;
            line-height: 1.33;
        
            letter-spacing: 0.03em;
        
            color: #F4F4FD;
}

.web {
    font-family: 'Raleway';
        font-style: normal;
        font-weight: 800;
        font-size: 18px;
        line-height: 1.33;

        letter-spacing: 0.03em;

        color: #4D5AE5;

}

.nav {
    font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;

        letter-spacing: 0.02em;

        color: #2E2F42;
        list-style: none;

}

.nav_port {
    background:#F4F4FD;
    color:#4D5AE5;
    cursor: pointer;

}

.nav_port:hover {
    background-color: #404BBF;
    color: #F4F4FD;
}

.nav:hover {
    color: #4D5AE5;
    ;
}

.cont {
    font-family: 'Roboto';
        font-style: normal;
        line-height: 1.5;
        font-size: 16px;
        letter-spacing: 0.02em;

        color: #434455;
        text-decoration: none;
}

.service_order {
    background-color: #2E2F42;
}

.solut {
    font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 56px;
        line-height: 1.0;

        letter-spacing: 0.02em;
    
        color: #FFFFFF;
}

.button_order {
    padding: 16px 32px;
    gap: 10px;

    background: #4D5AE5;
    color: #F4F4FD;
    cursor: pointer;

}

.button_order:hover {
    background-color: #404BBF;
    color: #F4F4FD;
}

.char_header {
    font-family: 'Roboto';
        font-style: normal;
        font-size: 20px;
        font-weight: 500;
        line-height: 1.2;

        letter-spacing: 0.02em;

        color: #2E2F42;
 text-decoration: none;
}

.char {
    font-family: 'Roboto';
        font-style: normal;
        font-size: 16px;
        line-height: 1.5;

        letter-spacing: 0.02em;

        color: #434455;

}

.wawd {
    font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 36px;
        line-height: 1.1;

        letter-spacing: 0.02em;
    
        color: #2E2F42;
}

.ot {
    font-family: 'Roboto';
        font-style: normal;
        font-size: 36px;
        font-weight: 500;
        line-height: 1.1;

        letter-spacing: 0.02em;
    
        color: #2E2F42;
}

.teamate_name {
    font-family: 'Roboto';
        font-style: normal;
        font-size: 20px;
        font-weight: 500;
        line-height: 1.2;

        letter-spacing: 0.02em;

        color: #2E2F42;

}

.teamate_prof {
    font-family: 'Roboto';
        font-style: normal;
        font-size: 16px;
        font-weight: 800;
        line-height: 1.5;
        letter-spacing: 0.02em;

        color: #434455;

}

.footer_text {
    font-family: 'Roboto';
        font-style: normal;
        font-size: 16px;
        line-height: 1.5;

        letter-spacing: 0.02em;

        color: #E7E9FC;
}

.nav_port {
    box-sizing: border-box;

        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 8px 16px;

        background: #F4F4FD;

            border: 1px solid #E7E9FC;
            border-radius: 4px;

}

.nav_port_text {
    font-family: 'Roboto';
        font-style: normal;
        font-size: 16px;
        font-weight: 500;
        line-height: 1.5;

        letter-spacing: 0.04em;

        color: #4D5AE5;

}

.name_proj {
    font-family: 'Roboto';
        font-style: normal;
        font-size: 20px;
        font-weight: 500;
        line-height: 1.2;

        letter-spacing: 0.02em;

        color: #2E2F42;
        list-style: none;

}

.type_proj {
font-family: 'Roboto';
    font-style: normal;
    font-size: 16px;
    line-height: 1.5;

    letter-spacing: 0.02em;

    color: #434455;
    list-style: none;

}

.footer_color {
    background-color: #2E2F42;
}

a {
    text-decoration: none;
}