
.body {
    font-family: 'Roboto', sans-serif;
}

.webstudio {
    font-family: 'Raleway';
        font-style: normal;
        font-weight: 800;
        line-height: 0.75;

        letter-spacing: 0.03em;

        color: #2E2F42;
}

.webstudio_footer {
        font-family: 'Raleway';
            font-style: normal;
            font-weight: 800;
            line-height: 0.75;
        
            letter-spacing: 0.03em;
        
            color: #F4F4FD;
}

.web {
    font-family: 'Raleway';
        font-style: normal;
        font-weight: 800;
        line-height: 0.75;

        letter-spacing: 0.03em;

        color: #4D5AE5;

}

.nav {
    font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        line-height: 0.6;

        letter-spacing: 0.02em;

        color: #2E2F42;

}

.cont {
    font-family: 'Roboto';
        font-style: normal;
        line-height: 0.6;

        letter-spacing: 0.02em;

        color: #434455;
        text-decoration: none;
}

.service_order {
    background-color: #2E2F42;
}

.solut {
    font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        line-height: 0.9;

        letter-spacing: 0.02em;
    
        color: #FFFFFF;
}

.button_order {
    padding: 16px 32px;
    gap: 10px;

    background: #4D5AE5;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;

}

.button_order:hover {
    background-color: #404BBF;
    color: #F4F4FD;
}

.char_header {
    font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        line-height: 0.8;

        letter-spacing: 0.02em;

        color: #2E2F42;

}

.char {
    font-family: 'Roboto';
        font-style: normal;
        line-height: 0.6;

        letter-spacing: 0.02em;

        color: #434455;

}

.wawd {
    font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        line-height: 0.9;

        letter-spacing: 0.02em;
    
        color: #2E2F42;
}

.ot {
    font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        line-height: 0.9;

        letter-spacing: 0.02em;
    
        color: #2E2F42;
}

.teamate_name {
    font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        line-height: 0.8;

        letter-spacing: 0.02em;

        color: #2E2F42;

}

.teamate_prof {
    font-family: 'Roboto';
        font-style: normal;
        font-weight: 800;
        line-height: 0.6;

        letter-spacing: 0.02em;

        color: #434455;

}

.footer_text {
    font-family: 'Roboto';
        font-style: normal;
        line-height: 0.6;

        letter-spacing: 0.02em;

        color: #E7E9FC;
}

.nav_port {
    box-sizing: border-box;

        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 8px 16px;

        background: #F4F4FD;

            border: 1px solid #E7E9FC;
            border-radius: 4px;

}

.nav_port_text {
    font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        line-height: 0.6;

        letter-spacing: 0.04em;

        color: #4D5AE5;

}

.name_proj {
    font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        line-height: 0.8;

        letter-spacing: 0.02em;

        color: #2E2F42;

}

.type_proj {
font-family: 'Roboto';
    font-style: normal;
    line-height: 0.6;

    letter-spacing: 0.02em;

    color: #434455;

}

.nav_port {
    background-color:#F4F4FD;
    color: #4D5AE5;
    cursor: pointer;
}

.nav_port:hover {
 background-color:#4D5AE5 ;
 color: #F4F4FD;
}

.nav:hover {
    color: #4D5AE5;;
}

a {
text-decoration: none;
color: #2E2F42;
 }

a:hover {
    text-decoration: none;
    color:#4D5AE5;
}

.footer_color {
    background-color: #2E2F42;
}

